body {
  margin: 0;
  padding: 0;
}

img.img-fluid.pull-xs-left.d-inline-block.align-center {
    border-radius: 100%;
}

h2, p {
    text-shadow: 1px 1px 2px black;
}

p {
  font-weight: 700;
  color: #413b3a;
}

h2 {
    color: #413b3a;
    font-weight: lighter;
    font-size: xxx-large;
}

.carousel-caption.d-none.d-md-block {
    margin-bottom: 30px;
}

.row {
  text-align: center;
}

img.card-img-top {
    height: 65vh;
    margin-top: -100px;
}

.col-lg-6 {align-self: center;}

.quote {
    margin-left: -150px;
    margin-right: 150px;
}
